@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('../fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../fonts/Pretendard-Medium.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}
ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 10px;
}

.nav{
    width: 100%;
    height: 80px;
    background-color: #629275;
    display: flex;
    align-items: center;
}
.nav h1{
    font-family: 'Black Han Sans';
    color: #fff;
    font-size: 35px;
    line-height: 60px;
    padding-left: 40px;
    margin-top: 7px;
}
.nav #button{
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
}
.nav a{
    display: flex;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-weight: 800;
    font-size: 16px;
    line-height: 31px;
}

.nav a:hover{
    color: #fff;
    background-color: #4D8262;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.25);
}

#now {
    color: #fff;
    background-color: #4D8262;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.25);
}

body{
    background-color: #FEFFFD;
    width: 100%;
    height: 100%;
    position: relative;
}

/* .board_wrap{
    width: 86%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 7%;  
}

.board_title{
    margin-bottom: 30px;
}

.board_title > img {
    position: absolute;
}

.board_title strong{
    font-size: 5.5rem;
    font-weight: bolder;
    padding-left: 110px;
}

.board_title p{
    font-size: 2.3rem;
    color: #89A95D;
    font-weight: bold;
    padding-left: 110px;
} */

.camera {
    position: absolute;
    width: 95px;
    height: 95px;
    left: 102px;
    top: 174px;
}

.board_wrap{
    width: 86%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 7%;  
}

.title h1 {
    position: absolute;
    left: 220px;
    top: 165px;

    font-family: 'Pretendard-ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 70px;
}

.title p {
    position: absolute;
    left: 220px;
    top: 242px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 35px;

    color: #89A95D;
}

.select_wrap {
    margin-top: 30px;
    font-size: 0;
    text-align: right;
}

.select_wrap select{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.3rem;
    font-weight: 550;
    min-width: 70px;
    border: 1px solid #000;
    background-color: #ffffff;
    appearance:none; 
    background-image: url(../images/po.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 160px;
}

.bt_wrap {
    margin-top: 30px;
    font-size: 0;
    float: right;
}

.bt_wrap a {
    /*display: block;*/
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    border: 1px #fff;
    min-width: 80px;
    background-color: #A0CA8C;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 700;
}

.bt_wrap a.on {
    background: #A0CA8C;
    color: #fff;
}
main{
    margin-top: 200px;
}
.board_list_wrap {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

}

.board_list{
    display:inline-block;
    width: 100%;
    border-top: 1px solid #000;
    background-color: #ffffff;
}

.board_list > div {
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_list > div > div {
    display: inline-block;
    font-size: 2rem;
    padding: 18px 0;
    border-right: 1px solid #000;
    text-align: center;
}

.board_list >div > :last-child{
    border-right: none;
}

.board_list > div.top > div{
    font-weight: 550;
    font-size: 2.5rem;
}

.board_list .top .title{
    text-align: center;
}

.board_list .writer{
    width: 25%;
}

.board_list .title{
    width: 50%;
    text-align: left;
    margin-left: 11px;
}

.board_list .date{
    width: 24%
}

.view_button_wrap{
    margin-top: 30px;
    font-size: 0;
    text-align: right;
}

.view_button {
    display: inline-block;
}

.view_button a {
    display: inline-block;
    text-align: center;
    min-width: 35px;
    margin-left: 5px;
    padding: 8px;
    border: 1px solid #000;
    font-size: 1.4rem;
}

.view_button a:first-child {
    margin-left: 0;
}

.view_button a{
    color: #ABABAB;
    background-color: #FFFFF9;
}
.view_button a:hover{
    color: #000;
}
.view_button a.on {
    background: #000;
    color: #fff;
}

.board_view_wrap {
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.board_view .vtitle,
.board_view .cont{
    padding-bottom: 10px;
}

.board_view .vtitle{
    padding-top: 10px;
    width:100%;
}

.board_view .vtitle p {
    display:block;
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    resize: none;
    background-color: #ffffff;
    font-size: 2.3rem;
}

.board_view .cont {
    display: flex;
    width: 100%;
}

.board_view .cont p {
    display: flex;
    width: 55%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    border: 1px solid #000;
    font-size: 2.3rem;
    background-color: #ffffff;
}

.board_view .cont img{
    display: flex;
    width: 45%;
    position: cover;
    size:cover;
}

.ct_view_wrap{
    margin-top: 5px;
}

.ct_view .vtitle{
    font-size: 25px;
    font-weight: 600;
    vertical-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.ct_view .vtitle img{
    float: right;
}

.ct_user_wrap{
    padding-top: 10px;
    padding-bottom: 10px;
}

.ct_view .ct_user{
    /*display:block;*/
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 50px;
    resize: none;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: 550;
}

.ct_view .ct_user img {
    position: absolute;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.ct_view .ct_user dl{
    padding-left: 70px;
    padding-top: 10px;
}    

.ct_wrap{
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ct_view .ct_wrap input{
    display:inline-block;
    width: 83%;
    margin-right: 3%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    padding: 20px;
    resize: none;
    background-color: #ffffff;
    font-size: 18px;
}

.ct_view .ct_wrap a{
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 3%;
    padding-right: 3%;
    min-width: 7%;
    border: 1px solid #fff;
    background: #A0CA8C;
    color: #fff;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;

}

.board_write .title,
.board_write .cont{
    padding: 5px;
}

.board_write .title input{
    display:block;
    width: 100%;
    height: 50px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    resize: none;
    background-color: #ffffff;
    margin-top: 5px;
}

.board_write .cont textarea{
    display:block;
    width: 100%;
    height: 398px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    resize: none;
    background-color: #ffffff;
}

.select_write_wrap {
    margin-top: 30px;
    font-size: 0;
    text-align: right;
    padding-right: 0.3%;
}

.select_write_wrap select{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.3rem;
    font-weight: 550;
    min-width: 70px;
    border: 1px solid #000;
    background-color: #ffffff;
    appearance:none; 
    background-image: url(../images/po.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 160px;
}

.bt_write_wrap {
    margin-top: 30px;
    font-size: 0;
    text-align: right;
}

.bt_write_wrap > input[type=submit] {
    /*display: block;*/
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px #fff;
    min-width: 80px;
    background-color: #A0CA8C;
    color: #fff;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 700;
}



/*댓글 crud 부분*/

.user_view_wrap {
    width:110%;
    padding: 5px;
    font-size: 17px;
    text-align: left;
}

.user_put_wrap{
    width:110%;
    padding: 5px;
    margin-top: 10px;
}

input[type=text]{
    display:inline-block;
    width: 75%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    padding: 15px;
    resize: none;
    background-color: #ffffff;
    font-size: 18px;
}

input[type=submit]{
    display: inline-block;
    width: 15%;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 3%;
    padding-right: 3%;
    min-width: 7%;
    border: 1px solid #fff;
    background: #A0CA8C;
    color: #fff;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #ABABAB;
    margin-right: 4px;
}

label.validation-error{
    color:   #ABABAB;
    margin-left: 5px;
}

.hide{
    display:none;
}

.board_write form textarea{
    resize: none;
    width: 100%;
    display:block;
    width: 100%;
    height: 398px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    resize: none;
    background-color: #ffffff;


}


.board_write form input{
    resize: none;
    display:block;
    width: 100%;
    height: 50px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    resize: none;
    background-color: #ffffff;
    margin-top: 5px;

}