@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('../fonts/Pretendard-ExtraBold.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FEFFFD;
    position: relative;
}
body::-webkit-scrollbar{
    display: none;
}

.nav{
    width: 100%;
    height: 80px;
    background-color: #8DB596;
    display: flex;
    align-items: center;
}

.nav h1{
    font-family: 'Black Han Sans';
    color: #fff;
    font-size: 35px;
    line-height: 60px;
    padding-left: 40px;
    margin-top: 7px;
}
.nav #button{
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
}
.nav a{
    display: flex;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-weight: 800;
    font-size: 16px;
    line-height: 31px;
}

.nav a:hover{
    color: #fff;
    background-color: #4D8262;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.25);
}

#now {
    color: #fff;
    background-color: #4D8262;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.trophy {
    position: absolute;
    width: 95px;
    height: 95px;
    left: 102px;
    top: 174px;
}

.title h1 {
    position: absolute;
    left: 220px;
    top: 165px;

    font-family: 'Pretendard-ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 70px;
}

.title p {
    position: absolute;
    left: 220px;
    top: 242px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 35px;

    color: #89A95D;
}

.map {
    position: absolute;
    width: 919.19px;
    height: 840px;
    left: 45%;
    top: 174px;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: .5;
    }
    0% {
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
}
}
.circleWrap{
    position: absolute;
    top: 50%;
    left: 60%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    height: 100%;
}
.circle1{
    border: 4px solid #ff7f9d;
    border-radius: 80%;
    width: 50px;
    height: 50px;
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    left: 70px;
    top: 300px;
}
.circle1:before {
        border: 4px solid #ff7f9d;
        border-radius: 80%;
        content: "";
        display: block;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: scale(.875);
        transform-origin: center center;
        background: #ff7f9d;
}
.circle1:after {
        border: 1px solid #ff7f9d;
        border-radius: 80%;
        content: "";
        display: block;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        transform: scale(1);
        transform-origin: center center;
        animation: 700ms pulse forwards infinite ease-in-out;
        opacity: 0;
}
.circle2{
    border: 4px solid #ff7f9d;
    border-radius: 80%;
    width: 50px;
    height: 50px;
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    left: 330px;
    top: 620px;
}
.circle2:before {
        border: 4px solid #ff7f9d;
        border-radius: 80%;
        content: "";
        display: block;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: scale(.875);
        transform-origin: center center;
        background: #ff7f9d;
}
.circle2:after {
        border: 1px solid #ff7f9d;
        border-radius: 80%;
        content: "";
        display: block;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        transform: scale(1);
        transform-origin: center center;
        animation: 700ms pulse forwards infinite ease-in-out;
        opacity: 0;
}
.circle3{
    border: 4px solid #ff7f9d;
    border-radius: 80%;
    width: 50px;
    height: 50px;
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    left: 50px;
    top: 380px;
}
.circle3:before {
        border: 4px solid #ff7f9d;
        border-radius: 80%;
        content: "";
        display: block;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: scale(.875);
        transform-origin: center center;
        background: #ff7f9d;
}
.circle3:after {
        border: 1px solid #ff7f9d;
        border-radius: 80%;
        content: "";
        display: block;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        transform: scale(1);
        transform-origin: center center;
        animation: 700ms pulse forwards infinite ease-in-out;
        opacity: 0;
}

main h2 {
    font-family: 'IBM plex sans';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100px;
}

main h3 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}

main p {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    
    color: #9F9F9F;
}



/* 1위 서울 */
.rank-one h2 {
    position: absolute;
    left: 253px;
    top: 339px;
}

.rank-one h3 {
    position: absolute;
    left: 381px;
    top: 353px;
}

.one {
    color: #FF8A00;
    font-size: 80px;
    font-family: 'Pretendard';
}

.rank-one p {
    position: absolute;
    left: 560px;
    top: 359px;
}
.line-one {
    position: absolute;
    width: 311px;
    left: 385px;
    top: 439px;
    border: 2px solid #E2E2E2;
}

/* 2위 부산 */
.rank-two h2 {
    position: absolute;
    left: 246px;
    top: 486px;
}

.rank-two h3 {
    position: absolute;
    left: 381px;
    top: 500px;
}

.two {
    color: #DFC900;
    font-size: 80px;
    font-family: 'Pretendard';

}

.rank-two p {
    position: absolute;
    left: 563px;
    top: 506px;
}

.line-two {
    position: absolute;
    width: 311px;
    height: 0px;
    left: 385px;
    top: 586px;
    border: 2px solid #E2E2E2;
}

/* 3위 용인 */
.rank-three h2 {
    position: absolute;
    left: 251px;
    top: 633px;
}

.rank-three h3 {
    position: absolute;
    left: 381px;
    top: 647px;
}

.three {
    color: #009320;
    font-size: 80px;
    font-family: 'Pretendard';

}

.rank-three p {
    position: absolute;
    left: 601px;
    top: 653px;
}

.line-three {
    position: absolute;
    width: 311px;
    height: 0px;
    left: 385px;
    top: 733px;
    border: 2px solid #E2E2E2;
}
.number{
    color: #9F9F9F;
    margin-left: 50px;
}
#box {
    width: 500px;
    height: 370px;
    background-color: #fff;
    font-family: 'IBM plex sans';
    font-size: 2.5rem;
    padding-left: 95px;
    padding-top: 10px;
    box-sizing: border-box;
  }
  .gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f9f263, #f79533,  #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
/*메인 끝*/

/*더보기 창*/

#more, #in-less {
    position: absolute;
    width: 143px;
    height: 60px;
    left: 420px;
    top: 784px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: #A0CA8C;
    border-radius: 50px;
}
#more:hover, #in-less:hover{
    box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
}
#more, #in-less button,p{
    cursor: pointer;
}
#more button{
    display: flex;
    justify-content: center;
}
#more p{
    color: #fff;
    font-size: 28px;
}

#in-more {
    display: flex;
    justify-content: center;
    text-align: center;
}

#but, #but2 {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    border: none;
    background: none;

    color: #FFFFFF;
}

#less{
    display: none;
}
#in-less {
    top: 950px;
}


#less ul {
    position: absolute;
    left: 410px;
    top: 784px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    list-style: none;

    color: #9F9F9F;
}

#less li {
    margin: 20px;
}