@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('../fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../fonts/Pretendard-Medium.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FEFFFD;
    position: relative;

}

.nav{
    width: 100%;
    height: 80px;
    background-color: #629275;
    display: flex;
    align-items: center;
}
.nav h1{
    font-family: 'Black Han Sans';
    color: #fff;
    font-size: 35px;
    line-height: 60px;
    padding-left: 40px;
    margin-top: 7px;
}
.nav #button{
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
}
.nav a{
    display: flex;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-weight: 800;
    font-size: 16px;
    line-height: 31px;
}
.nav a:hover{
    color: #fff;
    background-color: #4D8262;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.25);
}

#now {
    color: #fff;
    background-color: #4D8262;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.earth {
    position: absolute;
    width: 95px;
    height: 95px;
    left: 102px;
    top: 174px;
}

.gather-title h1 {
    position: absolute;
    left: 220px;
    top: 165px;

    font-family: 'Pretendard-ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 70px;
}

.gather-title p {
    position: absolute;
    left: 220px;
    top: 242px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 35px;

    color: #89A95D;
}