body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FEFFFD;
    animation: fadein 3s;
}
@keyframes fadein {
    from {
        opacity: 0.3;
        transform: translate3d(0, 1%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
h1{
    font-family: 'Black Han Sans';
    font-size: 96px;
    line-height: 120px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 150px;
    color: #4D8262;
}
.login, table{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.login{
    width: 700px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}
fieldset{
    border: none;
    height: 100%;
}
.login p{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #000;
    text-align: center;
    margin: 50px;
}
.login table{
    width: 470px;
    height: 120px;
    margin: 0 auto;
}
table td{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
table input{
    margin-left: 10px;
    border: none;
}
table input:focus{
    outline: none;
    
}

form>input{
    box-sizing: border-box;
    width: 470px;
    height: 70px;
    background: #A0CA8C;
    border-radius: 20px;
    color: #fff;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 52px;
    border: none;
    position: absolute;
    left: 115px;
    bottom: 70px;
    cursor: pointer;
}
form>input:hover{
    box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
}
form a{
    font-family: 'IBM Plex Sans';
    color: #15512D;
    text-decoration: none;
    position: absolute;
    right: 130px;
    font-style: italic;
}
fieldset> a{
    width: 100%;
    display: block;
    text-decoration: none;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    position: absolute;
    left: -10px;
    bottom: 20px;
    color: #15512D;
    text-align: center;
}