<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>do-gather</title>
    <link href="./css/do-gather.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav">
            <h1 onclick="goMain();">DO-ECO</h1>
            <div id="button">
                <a href="EcoTip.html">ECO-TIP</a>
                <a  href="eco-rank.html">ECO-RANK</a>
                <a href="do-eco.html">DO-ECO</a>
                <a id="now" href="do-gather.html">DO-GETHER</a>
                <a href="Mypage.html">MY PAGE</a>
            </div>
        </div>
    </header>
    <main>
        <div class="gather-title">
            <img class="earth" src="./images/gather-earth.png">
            <h1>DO-GETHER</h1>
            <p>함께할수록 즐겁고 보람찬 환경보호, 같이 노력해요!</p>
        </div>
    </main>
    <script>
        function goMain(){
                    link = 'main.html';
                    location.href=link;
        }
    </script>
</body>
</html>