<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <title>로그인</title>
</head>
<body>
    <h1 onclick="goMain();">DO-ECO</h1>
    <div class="login">
    <fieldset>
        <p>Login to get started</p>
        <form>
            <table>
            <tr><td><img src="images/id.png"><input type="text" name="id" id="id" placeholder="아이디" size="50" required></td></tr>
            <tr><td style="border-top: 1px solid #ccc"><img src="images/pw.png"><input type="password" name="pw" id="pw" placeholder="비밀번호" size="50" required></td></tr>
            </table>
            <a href="#">Forgot Password?</a>
            <input type="submit" value="로그인" onclick="handleLogin();">
        </form>
        <a href="createAcount.html">Create Account</a>
    </fieldset>
    </div>
    <script>
        function goMain(){
            link = 'main.html';
            location.href=link;
        }
    </script>
</body>
</html>