<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <title>DO-ECO</title>
</head>
<body>
    <div class="nav">
        <h1 onclick="goMain();">DO-ECO</h1>
        <div id="button">
            <a href="EcoTip.html">ECO-TIP</a>
            <a href="eco-rank.html">ECO-RANK</a>
            <a href="do-eco.html">DO-ECO</a>
            <a href="do-gather.html">DO-GETHER</a>
            <a href="Mypage.html">MY PAGE</a>
        </div>
    </div>
    <div class="content">
        <h1>DO-ECO</h1>
        <div><p>환경을 생각하는 움직임을 실현합니다<br>
            우리가 만드는 깨끗한 지구
            DO-ECO와 함께하세요!</p>
        </div>
        <div class="login">
            <a href="login.html">로그인</a>
            <a href="createAcount.html">회원가입</a>
        </div>
    </div>
    <script>
        function goMain(){
                    link = 'main.html';
                    location.href=link;
        }
    </script>
</body>
</html>