<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/do-eco.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <title>DO-ECO</title>
</head>
<body>
    <header>
        <div class="nav">
            <h1 onclick="goMain();">DO-ECO</h1>
            <div id="button">
                <a href="EcoTip.html">ECO-TIP</a>
                <a href="eco-rank.html">ECO-RANK</a>
                <a id="now" href="do-eco.html">DO-ECO</a>
                <a href="do-gather.html">DO-GETHER</a>
                <a href="Mypage.html">MY PAGE</a>
            </div>
        </div>
    </header>

    <div class="board_wrap">
        <!-- <div class="board_title">
            <img src="images/image 22.png"><strong>DO-ECO</strong>
            <p>사진과 함께 환경보호를 인증해요!</p>
        </div> -->
    <div class="title">
        <img class="camera" src="./images/image 22.png"/>
        <h1>DO-ECO</h1>
        <p>사진과 함께 환경보호를 인증해요!</p>
    </div>
    <main style="margin-top: 180px;">
    <div class="view_button_wrap"> 
        <div class="view_button">
            <a href="write.html">수정</a>
            <a href="#">삭제</a>
        </div>
    </div>  

    <div class="board_view_wrap">
            <div class="board_view">
                <div class="vtitle">    
                    <p>&nbsp처음으로 분식집 용기내 챌린지 하고 왔어요!</p>    
                </div>
                <div class="cont">
                    <p>
                        용기내 챌린지가 가능한지 전화 후 방문했어요!</br>
                        음식을 담을 수 잇는 용기 크기를 알려주셔서 
                        반찬통을 넉넉하게 두 개 챙겨갔어요. </br>
                        가져간 통에 담아서 먹으니까 집 밥 먹는 기분이 들어서 좋더라고요. </br>
                        남은 음식 보관하기도 편하고 
                        재활용 쓰레기 처리를 신경쓰지 않아도 되어서 좋았어요 :) 
                        여러분도 용기내 챌린지 해보세요! 
                    </p> <img src="images/Rectangle 13.png">
                </div>
            </div>    
    </div>
    <div class="ct_view_wrap">    
        <div class="ct_view"> 
            <div class="vtitle">
                댓글 <img src="images/Group 29.png">
            </div>


            <div class="ct_user_wrap">
                <div class="ct_user">                      
                    <div class="ct_user_one">
            
                         <div>
                            <tr>
                               
                               <div class="user_view_wrap">
                                        <table class="list" id="employeeList">
                                        <thead>
                                            <tr>
                                                <th>
                                                    정말 좋은 챌린지인 것 같아요~~
                                                </th>
                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                    
                                        </tbody>
                                    </table>
                               
                               </div>
                               
                               <div class="user_put_wrap">
                                
                                    <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                                       
                                            <label> </label><label class="validation-error hide" id="fullNameValidationError">댓글이 입력되지 않았습니다.</label>
                                            <input type="text" placeholder="댓글을 입력하세요" name="fullName" id="fullName"> <input type="submit" value="댓글작성">
                                       
                                    </form>
                               
                                </div>
                    
                            </tr>
                        </div>
                        <script src="script.js"></script>
        
                    </div>
                </div> 
            </div>   
        </div>
    </div> 
    </main>
    </div> 
    <script>
        function goMain(){
                    link = 'main.html';
                    location.href=link;
        }
    </script>             
</body>
</html>
