<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/do-eco.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <title>DO-ECO</title>
</head>
<body>
    <header>
        <div class="nav">
            <h1>DO-ECO</h1>
            <div id="button">
                <a href="EcoTip.html">ECO-TIP</a>
                <a href="eco-rank.html">ECO-RANK</a>
                <a id="now" href="do-eco.html">DO-ECO</a>
                <a href="do-gather.html">DO-GETHER</a>
                <a href="Mypage.html">MY PAGE</a>
            </div>
        </div>
    </header>
    <div class="board_wrap">
        <!-- <div class="board_title">
            <img src="images/image 22.png"><strong>DO-ECO</strong>
            <p>사진과 함께 환경보호를 인증해요!</p>
        </div> -->
        <div class="title">
            <img class="camera" src="./images/image 22.png"/>
            <h1 onclick="goMain();">DO-ECO</h1>
            <p>사진과 함께 환경보호를 인증해요!</p>
        </div>
    <main>
    <div class="select_write_wrap">
        <select>
            <option>지역선택</option>
            <option>서울특별시</option>
            <option>부산광역시</option>
            <option>대구광역시</option>
            <option>인천광역시</option>
            <option>광주광역시</option>
            <option>울산광역시</option>
            <option>세종특별자치시</option>
            <option>경기도</option>
            <option>강원도</option>
            <option>충청북도</option>
            <option>충청남도</option>
            <option>전라북도</option>
            <option>전라남도</option>
            <option>경상북도</option>
            <option>제주특별자치도</option>
        </select>
    </div>
    
    <div class="board_write_wrap">
        <div class="board_write">
            <div class="title">    
                <input type="text" placeholder="제목을 입력하세요"></input>    
            </div>
            <div class="cont">
                <textarea placeholder="내용을 입력하세요"></textarea>
            </div>
        </div>
    </div>    

    <div class="bt_write_wrap">
        <a href="view.html" class="on">등록</a>
    </div>
    </main>
    </div>
    <script>
        function goMain(){
                    link = 'main.html';
                    location.href=link;
        }
    </script>
</body>
</html>